In [1]:
print("a")

a

In [11]:
# Import pandas 
import pandas as pd

# Import numpy
import numpy as np

In [12]:
recent_grads_url = "https://s3.amazonaws.com/assets.datacamp.com/production/course_6060/datasets/recent_grads.csv"
print(recent_grads_url)

https://s3.amazonaws.com/assets.datacamp.com/production/course_6060/datasets/recent_grads.csv

In [13]:
# Use pandas to read in recent_grads_url
recent_grads = pd.read_csv(recent_grads_url)

print (type(recent_grads))
# Print the shape
print(recent_grads.shape)

<class 'pandas.core.frame.DataFrame'>
(173, 21)

In [14]:
print(recent_grads.head(10))

   rank  major_code                                      major  \
0     1        2419                      PETROLEUM ENGINEERING
1     2        2416             MINING AND MINERAL ENGINEERING
2     3        2415                  METALLURGICAL ENGINEERING
3     4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING
4     5        2405                       CHEMICAL ENGINEERING
5     6        2418                        NUCLEAR ENGINEERING
6     7        6202                          ACTUARIAL SCIENCE
7     8        5001                 ASTRONOMY AND ASTROPHYSICS
8     9        2414                     MECHANICAL ENGINEERING
9    10        2408                     ELECTRICAL ENGINEERING

      major_category  total  sample_size    men  women  sharewomen  employed  \
0        Engineering   2339           36   2057    282    0.120564      1976
1        Engineering    756            7    679     77    0.101852       640
2        Engineering    856            3    725    131    0.153037       648
3        Engineering   1258           16   1123    135    0.107313       758
4        Engineering  32260          289  21239  11021    0.341631     25694
5        Engineering   2573           17   2200    373    0.144967      1857
6           Business   3777           51    832    960    0.535714      2912
7  Physical Sciences   1792           10   2110   1667    0.441356      1526
8        Engineering  91227         1029  12953   2105    0.139793     76442
9        Engineering  81527          631   8407   6548    0.437847     61928

   ...  part_time  full_time_year_round  unemployed  unemployment_rate  \
0  ...        270                  1207          37           0.018381
1  ...        170                   388          85           0.117241
2  ...        133                   340          16           0.024096
3  ...        150                   692          40           0.050125
4  ...       5180                 16697        1672           0.061098
5  ...        264                  1449         400           0.177226
6  ...        296                  2482         308           0.095652
7  ...        553                   827          33           0.021167
8  ...      13101                 54639        4650           0.057342
9  ...      12695                 41413        3895           0.059174

   median  p25th   p75th college_jobs  non_college_jobs  low_wage_jobs
0  110000  95000  125000         1534               364            193
1   75000  55000   90000          350               257             50
2   73000  50000  105000          456               176              0
3   70000  43000   80000          529               102              0
4   65000  50000   75000        18314              4440            972
5   65000  50000  102000         1142               657            244
6      UN     UN      UN         1768               314            259
7   62000  31500  109000          972               500            220
8   60000  48000   70000        52844             16384           3253
9   60000  45000   72000        45829             10874           3170

[10 rows x 21 columns]

In [15]:
print(recent_grads['sharewomen'].max())

0.968953683

In [16]:
print(recent_grads.max())

rank                               173
major_code                        6403
major                          ZOOLOGY
major_category          Social Science
total                           393735
sample_size                       4212
men                             173809
women                           307087
sharewomen                    0.968954
employed                        307933
full_time                       251540
part_time                       115172
full_time_year_round            199897
unemployed                       28169
unemployment_rate             0.177226
median                              UN
p25th                               UN
p75th                               UN
college_jobs                    151643
non_college_jobs                148395
low_wage_jobs                    48207
dtype: object

In [17]:
recent_grads.sharewomen

0      0.120564
1      0.101852
2      0.153037
3      0.107313
4      0.341631
         ...
168    0.637293
169    0.817099
170    0.799859
171    0.798746
172    0.877960
Name: sharewomen, Length: 173, dtype: float64

In [18]:
recent_grads['sharewomen']

0      0.120564
1      0.101852
2      0.153037
3      0.107313
4      0.341631
         ...
168    0.637293
169    0.817099
170    0.799859
171    0.798746
172    0.877960
Name: sharewomen, Length: 173, dtype: float64

In [19]:
recent_grads[recent_grads.sharewomen==recent_grads.sharewomen.max()]

,rank,major_code,major,major_category,total,sample_size,men,women,sharewomen,employed,...,part_time,full_time_year_round,unemployed,unemployment_rate,median,p25th,p75th,college_jobs,non_college_jobs,low_wage_jobs
162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844,247,1167,36422,0.968954,29633,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866

In [20]:
recent_grads_np = np.array(recent_grads[['unemployed','low_wage_jobs']])

In [21]:
type(recent_grads_np)

numpy.ndarray

In [22]:
print(np.corrcoef(recent_grads_np[:,0],recent_grads_np[:,1]))

[[1.         0.95538815]
 [0.95538815 1.        ]]